<a href="https://colab.research.google.com/github/grishmalamsal/Big_Data_Workshop/blob/main/Workshop1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

workshop

fibonacci series 10 terms

In [1]:
n=10
a,b=0,1
print ("fibonacci series:")
for i in range (n):
  print(a, end =" ")
  a, b = b,a + b

fibonacci series:
0 1 1 2 3 5 8 13 21 34

factorial of a number (user input)

In [2]:
num= int (input("enter a number :"))
fact =1
for i in range (1, num+1):
  fact*=i

  print ("fatcorial:", fact)

enter a number :5
fatcorial: 1
fatcorial: 2
fatcorial: 6
fatcorial: 24
fatcorial: 120

right angle triangle using for loop

In [3]:
rows=5
for i in range (1,rows+1):
  print("*"*i)

*
**
***
****
*****

calculator using function

In [8]:
def add (a,b):
  return a+b
def subtract(a,b):
    return a-b
def multiply (a,b):
      return a*b
def divide (a,b):
        if b==0:
           return "cannot devide by zero"
        return a/b
 #user input
x= float(input("enter first number:"))
y= float(input("enter second number:"))
op= input("enter operation(+,-,*,/):")

if op =="+":
            print("result:", add(x,y))
elif op =="-":
            print("result:", subtract(x,y))
elif op =="*":
            print("result:", multiply(x,y))
elif op =="/":
            print("result:", divide(x,y))
else:
            print("invalid operation")

enter first number:5
enter second number:8
enter operation(+,-,*,/):-
result: -3.0

remove first duplicate element from list

In [12]:
lst =[1,2,3,2,4,5]
seen =set()

for i in range (len (lst)):
  if lst [i]in seen:
      lst.pop(i)
      break
seen.add (lst[i])
print (lst)

[1, 2, 3, 2, 4, 5]

extra specific keys from dictonary

In [13]:
sample_dict={
    "name":"grishma",
    "age":22,
    "salary":10000,
    "city":"kathmandu"
}
keys=["name","salary"]
new_dict={k:sample_dict[k] for k in keys}
print(new_dict)

{'name': 'grishma', 'salary': 10000}

two list into dictonary

In [14]:
list_one=['one','two','three']
list_two=[1,2,3]
result=dict(zip(list_one,list_two))
print(result)

{'one': 1, 'two': 2, 'three': 3}